<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" data-bs-theme="dark">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="me" href="https://web.brid.gy/r/{{ SITEURL }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ SITEURL }}/{{ FEED_RSS }}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ SITEURL }}/{{ FEED_ATOM }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/site.css">

    <style>
      .nav-link {color: #039ba6; }
      .text-header a { font-family: "Playfair Display", Georgia, "Times New Roman", serif; text-decoration: none;}
      .post { list-style: disclosure-closed; text-decoration: none; }
      .post a { font-family: "Playfair Display", Georgia, "Times New Roman", serif; text-decoration: none;}
    </style>

    <script>
      window.addEventListener("load", function() {
        const form = document.getElementById('assinar');
        form.addEventListener("submit", function(e) {
          e.preventDefault();
          const data = new FormData(form);
          const action = e.target.action;
          fetch(action, {
            method: 'POST',
            body: data,
          })
          .then(() => {
            alert("Success!");
          })
        });
      });
    </script>

    <title>{{ SITENAME }}{% block title %}{% endblock title %}</title>
    {% endblock %}
  </head>
  <body class="container ">
    <header class="text-center mt-3">
    {% include "fragments/header.html" %}
    </header>
    <section class="container my-4" itemscope itemtype="http://schema.org/Blog">
    {% block content %}{% endblock %}
    </section>
    <footer class="row py-4 border-top">
    {% include "fragments/footer.html" %}
    </footer>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/js/all.min.js" integrity="sha512-gBYquPLlR76UWqCwD06/xwal4so02RjIR0oyG1TIhSGwmBTRrIkQbaPehPF8iwuY9jFikDHMGEelt0DtY7jtvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/site.js"></script>
</html>
